
.home-articles {
    position: relative;
  }
  .font1 h3{
    font-size: 20px;
    font-weight: 800;
  }
  .year-box {
    position: absolute;  
    right: 0px;
    top: 100px;
    width: 234px;
    height: 255px;
    font-size: 18px;
  }
  
  .year-box div {
    margin: 12px 0px;
  }
  
  .home-article {
    display: flex;
    margin: 25px;
  }
  
  .home-article img {
    width: 300px;
  }
  
  .home-article-content {
    align-self: center;
    padding: 25px;
  }
  
  .home-article-content a {
    text-decoration: none;
    color: black;
    font-size: 50px;
  }

/* 1st card */
.front-card{
  display: flex;
}
.front-child{
border: 2px solid red;
margin: 10px;
height: 200px;
width: 150px;
}

  @media screen and (max-width: 1200px) {
    .home-article {
        flex-direction: column;
      }
    
      .home-article-img {
        text-align: center;
      }
      .home-article img {
        width: 60vw;
      }    
  }
  